@media only screen and (min-width:600px) {
    .history-items a i {
        font-size: 1.3vw;
    }

    .history-items ul{
        background-color: rgb(51, 51, 51);
        border-radius: 10px;
        transition: 0.1s;
    }

    .history-items ul li{
        color: white;
        margin-top: 1vw;
        padding: 0.4vw;
    }

    .history-items ul li:hover{
        background-color: grey;
    }

}



@media only screen and (max-width:600px) {
    
    .history-items a:hover{
        background-color: green;
    }

    .history-items a i {
        font-size: 4vw;
    }

    .history-items ul{
        background-color: rgb(51, 51, 51);
        border-radius: 10px;
        transition: 0.1s;
        padding: 5vw;
    }

    .history-items ul li{
        color: white;
        margin: 1vw;
        padding: 0.7vw;
        font-size: 4vw;
    }

    .history-items ul li:hover{
        background-color: grey;
    }

}