@media only screen and (min-width:600px) {

    .add-playlist {
        grid-column: 1/span 5;
        background-color: black;
        height: 8vh;
        padding: 1.5vh;
        margin: -7px 7px;
        border: 1px solid white;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {

    .add-playlist {
        grid-row: 1;
        grid-column: 1/span 6;
        background-color: black;
        height: 8vh;
        padding: 1.5vh;
        margin: -7px 7px;
        border: 1px solid white;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}