@media only screen and (min-width:600px) {
    .emojis {
        font-size: 40px;
    }

    .toast-express {
        right: 45vw;
    }

    .btn-emoji {
        padding: 15px;
        border: 0px;
        background: transparent;
    }

    .btn-emoji:hover {
        border-radius: 10%;
        background: white;
    }
}



@media only screen and (max-width:800px) {
    .emojis {
        font-size: 30px;
    }

    .btn-emoji {
        padding: 10px;
        border: 0px;
        background: transparent;
    }

    .btn-emoji:hover {
        border-radius: 10%;
        background-color: white;
        cursor: pointer;
    }
}