@media only screen and (min-width:600px) {
    .player {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .player iframe {
        grid-row: 2;
        grid-column: 1/span 4;
    }
}

@media only screen and (max-width:600px) {
    .player {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .player iframe {
        grid-row: 2;
        grid-column: 1/span 4;
    }
}