body {
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}