@media only screen and (max-width:600px) {
    .App {
        background: #e0e0e0;
        color: white;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        overflow: hidden;
    }
}
  